@import "tailwindcss";

.textani {
    position: relative;
    color: white;
    transition: color 0.3s;
    cursor: pointer;
}

.textani::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%; 
    height: 2px;
    width: 100%;
    background-color: #3712c9; 
    transform: translateX(-50%) translateY(4px) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

.textani:hover::after {
    transform: translateX(-50%) translateY(4px) scaleX(1);
}
